.csv
.httr-oauth
.log
.Rapp.history
*.RData
.Rhistory
.Rproj.user
inst/doc
/revdep/.cache.rds
vignettes/Intro-to-Cache\.html
vignettes/Intro-to-Cache\.R
cache

#################
## LaTeX
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

CHECKSUMS.txt

LandCoverOfCanada2005_V1_4.zip

lcc.tif

LCC2005_V1_4a.tif
