.httr-oauth
.Rapp.history
*.RData
.Rhistory
.Rproj.user
inst/doc
/revdep/.cache.rds
vignettes/Intro-to-Cache\.html
vignettes/Intro-to-Cache\.R
#################
## LaTeX
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
VEG_COMP_LYR_L1_POLY_2015.gdb.zip
.secret
.Rprofile
.secret/
config.yml
cache